@{
    ViewData["Title"] = "About";
}



<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="title">About Us</h1>
            <p>Praesent eu viverra lorem. Donec at hendrerit ex. Donec orci tortor, hendrerit eget metus eget, dapibus finibus eros. Sed pulvinar sed nunc eu rhoncus. Ut rutrum tempor mi, sit amet rhoncus sem venenatis maximus. Sed ac urna finibus lorem suscipit tincidunt ac ut erat..</p>

            <p class="dark">Phasellus sit amet iaculis sapien. Nunc vulputate urna ut risus varius fringilla. Phasellus suscipit turpis finibus, pellentesque justo eget, luctus lacus. Quisque ac consectetur nisi. Nulla id justo congue, faucibus odio a, sollicitudin ipsum. Fusce nec sapien pretium, egestas ex sed, lobortis diam. Quisque et massa arcu. Etiam et auctor ex. Donec et erat lobortis, ultrices velit et, molestie nisl. Phasellus sed interdum magna, non tincidunt dolor. Donec suscipit diam ex, at vestibulum erat auctor eget.</p>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>What we do</h3>
                <p>Pellentesque justo quam, tristique et ultrices ultricies, accumsan eget mauris. Pellentesque gravida, tortor vel varius elementum, velit neque convallis nisi, ut molestie odio ligula eu purus. Etiam id purus nisl. Mauris non finibus urna, suscipit scelerisque tortor. Etiam finibus molestie sem quis convallis. Sed hendrerit mollis erat at dictum. Morbi et lectus metus.</p>
            </div>
        </aside>

    </div>
</section>




@section Scripts{
    <script type="text/javascript">
        document.querySelector('#about').className = 'selecionado';
    </script>
}

