<section id="newsletter">
    <div class="container">
        <h1>Subscribe our newsletter</h1>
        <form>
            <input type="email" placeholder="Insert your email..." />
            <button type="submit" class="button1">Subscribe</button>
        </form>
    </div>
</section>
